<h1>Lookup 7 Days Weather Forecast</h1>
<form>
  <input type="text" id="city_name" placeholder="Enter city">
  <button id="getWeatherInfo"> Search Weather Info</button>
</form>
<div id="result"></div>
<div id="updated_date"></div>
<div id="day"></div>
<div id="icons"></div>
<div id="temp"></div>
<div id="status"></div>


