
  <h1>Welcome To Calc</h1>
 <!--  <h2>Under Construction</h2>
  <img src="http://essentialparents.info/images/underconstruction.gif" alt="">

  <footer>
    <p><%= `fortune` %></p>
    <p><%= Time.now.to_s %></p>
  </footer> -->

  <form action="/calc">

    <input type="number" name="first" placeholder="First number">
    <input type="text" name="operator" placeholder="Operator: + or - or * or /">
    <input type="number" name="second" placeholder="Second number">

    <button>Calculate</button>
  </form>