<h1>Movies III</h1>
<h2>Army of Darkness</h2>
<h3>Search A Movie</h3>
<form>
  <label for="Search">Movie Title:</label>
  <input type="search" id="movie_title" placeholder="Jaws">
  <button id="get-info">Get Info</button>

  <h3>Search List of Movies</h3>
  <label for="Search list"> Movie Title:</label>
  <input type="search" id="movie_list" placeholder="Jaws">
  <button id="get-info">Get Info</button>
</form>
<h3 id="movie_name"></h3>
<img id="poster">
<div id="results"></div>
<p id="error"></p>
