<h1>Results for movie : <%=@movie_title%> </h1>
<ol>
<%@movies_result_list.zip(@movies_url) do |movie_title, movie_url| %>
  <li><a href="/movie?movie_url=<%=movie_url%>&movie_title=<%=movie_title%>"><%= movie_title %></a></li>
<% end %>
</ol>