<h1>BACKBONE APP GOES HERE</h1>
<div id="main"></div>

<script type="html/template" id="appViewTemplate">
  <h1>Secrets</h1>
  <div id="secretForm">

  </div>
  <ul id="secrets">
    Secret goes here.
  </ul>
</script>
<script type="html/template" id="secretInputViewTemplate">
  <textarea placeholder="Tell us your secrets" autofocus></textarea>
  <button>Submit</button>
</script>