<h2>Edit Plants</h2>
<form action="/plants/<%=@plant['id'] %>" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="<%= @plant['name']%>" required>
  <label for="">Image:</label>
  <input type="url" name="image" value="<%= @plant['image']%>">

  <button>Update plant</button>
</form>