<h1>Create New Ocean Data</h1>
<form action="/oceans" method="post">
  <p>Name: <input type="text" name="ocean[name]" required></p>
  <p>Location: <input type="text" name="ocean[location]"></p>
  <p>Area: <input type="number" name="ocean[area]"></p>
  <p>Average Depth: <input type="number" name="ocean[avg_depth]"></p>
  <p>Image url: <input type="url" name="ocean[image]"></p>

  <button>Create</button>
</form>