<h1>My Blog</h1>
<div class="notification">
  Please be aware of something.
</div>
<div class="error">
  Oh no! Something happened!
</div>
<div class="success">
  Hooray! A good thing happened!
</div>
<div class="post">
  <p class="author">Biggles</p>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perspiciatis repellendus in provident est eius. Animi impedit non provident, quisquam, similique, consequatur maiores totam rerum aut velit beatae numquam optio?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, nam, ullam. Ex impedit, fugit quaerat harum consectetur quasi saepe porro consequuntur ea expedita magni eveniet quae est, labore nobis animi.</p>
  </div>
</div>

<div class="post">
  <p class="author">Biggles</p>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perspiciatis repellendus in provident est eius. Animi impedit non provident, quisquam, similique, consequatur maiores totam rerum aut velit beatae numquam optio?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, nam, ullam. Ex impedit, fugit quaerat harum consectetur quasi saepe porro consequuntur ea expedita magni eveniet quae est, labore nobis animi.</p>
  </div>
</div>

<div class="post">
  <p class="author">Biggles</p>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam perspiciatis repellendus in provident est eius. Animi impedit non provident, quisquam, similique, consequatur maiores totam rerum aut velit beatae numquam optio?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, nam, ullam. Ex impedit, fugit quaerat harum consectetur quasi saepe porro consequuntur ea expedita magni eveniet quae est, labore nobis animi.</p>
  </div>
</div>