@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,600italic,600);

body{
	font-family: 'Open Sans', sans-serif;	
	background-color: #444;
}

header {
	color: #fff;
}

a {
	color: #888;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

article {
	display: inline-block;
	width: 77%;
	background-color: #fff;
	padding: 1em;
	border-radius: 1em;
	border-top-right-radius: 0;
}

aside {
	display: inline-block;
	width: 19%;
	vertical-align: top;
	background-color: #fff;
	border-radius: 1em;	
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}