<h2> Magic 8 Ball</h2>
<p> Magic 8-Ball reaches into the future, to find the answers to your questions. It knows what will be, and is willing to share this with you. </p>

<p>Just think of a question that can be answered "Yes" or "No", concentrate very, very hard, and click on the "Ask" button. Then let Magic 8-Ball show you the way!</p>
<div class="m-ask">
  <a href="/magic8/result"><img src="http://www.indra.com/8ball/images/ask.gif" alt=""></a>
</div>