<div class="m-ask">
  <h1>Your Answer</h1>
  <div class="content-ball">
  </div>
  <div class="content-p"><%= @response %></div>

  <div class="back">
    <a href="/magic8"><img src="http://www.indra.com/8ball/images/back.gif" alt=""></a>
  </div>
</div>
