<nav>
  <a href="/">Home</a>
</nav>

<div id="main">
</div>
<script id="appView" type="text/template">
  <h1>My Movies Collections</h1>
  <h2>Recent Movies Added</h2>
  <ul id="movies">
</script>
<script id="movieView" type="text/template">
  <p><strong>Title:</strong> {{title}}</p>
  <p><strong>Plot: </strong> {{description}}</p>
  <img src="{{poster}}">
</script>