<nav>
  <a href="/">Home</a>
</nav>
<div id="main"></div>
<script id="appView" type="text/template">
  <h1>My blog with all feelings</h1>
  <h2>Recent Posts</h2>
  <ul id="posts">
</script>
 <script id="postView" type="text/template">
  <h1>{{ title }}</h1>
  <h2>{{ author }}</h2>
  <p>{{ content }}</p>
</script>