<h1> Stock: <%=@stock%> </h1>

<p><strong>Stock Price: </strong><%=@price%></p>
<p><strong>Last trade with time: </strong> <%=@lastTradeWithTime%></p>
<p><strong>Day range: </strong><%=@dayRange%></p>