<div class="row">
    <div class="col-md-4 col-md-push-8">
    <ul>
      <li><a href="">Groucho</a></li>
      <li><a href="">Harpo</a></li>
      <li><a href="">Chico</a></li>
      <li><a href="">Site</a></li>
      <li><a href="">Site</a></li>
      <li><a href="">Site</a></li>
      <li><a href="">Site</a></li>
      <li><a href="">Site</a></li>
    </ul>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, dolor at quaerat ad non odit quae, tenetur sit, soluta optio ipsa ratione natus perspiciatis voluptatem, excepturi doloremque repudiandae iste eum!</p>
  </div>
</div>