// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  display: inline-block;
}

li {
  display: inline-block;
  padding-right: 45px;
  width: 120px;  
}

ul > li {
  list-style: none;
    padding-right: 5px;
}

img {
  padding-left: 40px;
  padding-right: 35px;
}