<h1>Rock Paper Scissors Game Result</h1>

<div id="content-rps">
  <div class="user">You <br> <img src="<%= @user_display %>"></div>
  <div class="middle"><h3>V.S</h3></div>
  <div class="computer">Computer <br> <img src="<%= @comp_display%>"></div>
</div>
<div id="winning-result">
  <h2><%= @result %></h2>
</div>  